<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaStorage\Model\File\Storage\Database">
        <plugin name="around_load_by_filename_sync" type="Salecto\MediaStorageSync\Plugin\Synchronization" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Api\ProductAttributeMediaGalleryManagementInterface">
        <plugin name="after_getlist_sync" type="Salecto\MediaStorageSync\Plugin\Synchronization" sortOrder="1" />
    </type>
    <type name="Salecto\MediaStorageSync\Model\Sync" shared="true"/>
</config>
